<!-- Sign Up Modal -->
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Get an E-Comm Account</h5>
</div>
<div class="modal-body">
    <form>
        <div class="form-group mb-2">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationCustom01" required>
        </div>
        <div class="form-group mb-2">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationCustom02" required>
        </div>
        <div class="form-group mb-2">
            <label for="validationCustom04" class="form-label">State</label>
            <select class="form-select" id="validationCustom04" required>
                <option selected disabled value="">Choose...</option>
                <option value="andhra-pradesh">Andhra Pradesh</option>
                <option value="arunachal-pradesh">Arunachal Pradesh</option>
                <option value="assam">Assam</option>
                <option value="bihar">Bihar</option>
                <option value="chhattisgarh">Chhattisgarh</option>
                <option value="goa">Goa</option>
                <option value="gujurat">Gujarat</option>
                <option value="haryana">Haryana</option>
                <option value="himachal-pradesh">Himachal Pradesh</option>
                <option value="jammu-and-kashmir">Jammu and Kashmir</option>
                <option value="jharkhand">Jharkhand</option>
                <option value="karnataka">Karnataka</option>
                <option value="kerala">Kerala</option>
                <option value="madhya-pradesh">Madhya Pradesh</option>
                <option value="maharastra">Maharashtra</option>
                <option value="manipur">Manipur</option>
                <option value="meghalaya">Meghalaya</option>
                <option value="mizoram">Mizoram</option>
                <option value="nagaland">Nagaland</option>
                <option value="odisha">Odisha</option>
                <option value="punjab">Punjab</option>
                <option value="rajasthan">Rajasthan</option>
                <option value="sikkim">Sikkim</option>
                <option value="tamil-nadu">Tamil Nadu</option>
                <option value="telangana">Telangana</option>
                <option value="tripura">Tripura</option>
                <option value="uttar-pradesh">Uttar Pradesh</option>
                <option value="west-bengal">West Bengal</option>
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="validationCustom05" class="form-label">Zip</label>
            <input type="text" class="form-control" id="validationCustom05" id="zip" name="zip" pattern="[0-9]*"
                [maxLength]="6" required>
        </div>
        <div class="form-group mb-2">
            <label for="validationCustom05" class="form-label">Mobile No.</label>
            <input type="text" class="form-control" [(ngModel)]="mobileNumber" id="validationCustom05" id="mobile-number" name="mobile-number" pattern="[0-9]*"
                [maxLength]="10" required>
        </div>
        <div class="form-group mb-2">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group mb-2">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group mb-3">
            <label for="cexampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="cexampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
    </form>
</div>
