<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">E-Comm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link disabled bi bi-badge-ad" aria-disabled="true" routerLink=""> Seller</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link active bi bi-house" aria-current="page" routerLink=""> Home</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link bi bi-bag-check" routerLink=""> Orders</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link bi bi-cart" routerLink=""> Cart</a>
                </li> -->
            </ul>
            <!-- <div class="d-flex mx-2 flex-column mb-2 mt-2">
                <button class="btn btn-success me-2 bi bi-box-arrow-in-right" data-toggle="modal"
                    data-target="#loginModal" (click)="openModal1(content1)"> Login</button>
            </div> -->

            <!-- <div class="d-flex mx-2 flex-column mb-2 mt-2">
                <button class="btn btn-warning me-2 bi bi-pencil-square" data-toggle="modal" data-target="#signupModal"
                    (click)="openModal2(content2)"> SignUp</button>
            </div> -->





        </div>
    </div>
</nav>

<!-- <nav class="navbar bg-body-tertiary">
    <div class="container-fluid justify-content-center">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #filter>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav> -->

<!-- SEARCH FILTER -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid justify-content-center">
        <form *ngIf="menuType!=='seller'" class="d-flex" role="search">
            <input class="form-control me-2" type="text" list="datalistOptions" style="text-decoration: none;"
                placeholder="Search" aria-label="Search" #searchInput (keyup)="searchProduct($event)"
                (blur)="hideSearch()">
            <button class="btn btn-outline-success bi bi-search" type="submit"
                (click)="submitSearch(searchInput.value)"></button>
            <ul class="suggested-search" style="list-style: none;" *ngIf="searchResult">
                <li *ngFor="let item of searchResult" style="list-style: none;" >
                    <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
                </li>
            </ul>
        </form>
    </div>
</nav>

<ng-template #content2>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Get an E-Comm Account</h5>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group mb-2">
                <label for="validationCustom01" class="form-label">First name</label>
                <input type="text" class="form-control" id="validationCustom01" required>
            </div>
            <div class="form-group mb-2">
                <label for="validationCustom02" class="form-label">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" required>
            </div>
            <div class="form-group mb-2">
                <label for="validationCustom04" class="form-label">State</label>
                <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">Choose...</option>
                    <option value="andhra-pradesh">Andhra Pradesh</option>
                    <option value="arunachal-pradesh">Arunachal Pradesh</option>
                    <option value="assam">Assam</option>
                    <option value="bihar">Bihar</option>
                    <option value="chhattisgarh">Chhattisgarh</option>
                    <option value="goa">Goa</option>
                    <option value="gujurat">Gujarat</option>
                    <option value="haryana">Haryana</option>
                    <option value="himachal-pradesh">Himachal Pradesh</option>
                    <option value="jammu-and-kashmir">Jammu and Kashmir</option>
                    <option value="jharkhand">Jharkhand</option>
                    <option value="karnataka">Karnataka</option>
                    <option value="kerala">Kerala</option>
                    <option value="madhya-pradesh">Madhya Pradesh</option>
                    <option value="maharastra">Maharashtra</option>
                    <option value="manipur">Manipur</option>
                    <option value="meghalaya">Meghalaya</option>
                    <option value="mizoram">Mizoram</option>
                    <option value="nagaland">Nagaland</option>
                    <option value="odisha">Odisha</option>
                    <option value="punjab">Punjab</option>
                    <option value="rajasthan">Rajasthan</option>
                    <option value="sikkim">Sikkim</option>
                    <option value="tamil-nadu">Tamil Nadu</option>
                    <option value="telangana">Telangana</option>
                    <option value="tripura">Tripura</option>
                    <option value="uttar-pradesh">Uttar Pradesh</option>
                    <option value="west-bengal">West Bengal</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="validationCustom05" class="form-label">Zip</label>
                <input type="text" class="form-control" id="validationCustom05" id="zip" name="zip" pattern="[0-9]*"
                    [maxLength]="6" required>
            </div>
            <div class="form-group mb-2">
                <label for="validationCustom05" class="form-label">Mobile No.</label>
                <input type="text" class="form-control" [(ngModel)]="mobileNumber" id="validationCustom05"
                    id="mobile-number" name="mobile-number" pattern="[0-9]*" [maxLength]="10" required>
            </div>
            <div class="form-group mb-2">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group mb-2">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group mb-3">
                <label for="cexampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="cexampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
    </div>
</ng-template>

<ng-template #content1>
    <!-- Login Modal -->

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login to E-Comm</h5>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group mb-2">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group mb-2">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="form-group form-check mb-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">Agree to <a
                        [routerLink]="['privacy-notice']">Privacy
                        Policy</a>
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary mb-4">Login</button><br>
                <p><span>New to Ecomm?</span></p>
                <!-- <button type="submit" class="btn btn-warning" [routerLink]="['sign-up']">Create an Account</button> -->
                <button type="submit" class="btn btn-warning" [routerLink]="['sign-up']">Create an Account</button>
            </div>
        </form>
    </div>

</ng-template>