<footer class="bg-dark text-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2021-2023, E-comm.com</p>
      </div>
      <div class="col-md-6 text-md-center">
        <a [routerLink]="['privacy-notice']">Privacy Policy</a>
        | 
        <a [routerLink]="['conditions-use-sell']">
          Conditions of Use and Sell
        </a>
        | 
        <a [routerLink]="['interest-based-adds']">
          Interest-Based Ads
        </a>
      </div>
    </div>
  </div>
</footer>