<div class="d-flex row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 grid-view m-4">
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_1.0/S_1.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 10rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_2.0/S_2.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 10rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_3.0/S_3.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_4.0/S_4.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_5.0/S_5.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_6.0/S_6.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 10rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_7.0/S_7.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_8.0/S_8.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_9.0/S_9.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_10.0/S_10.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 22rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_11.0/S_11.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_12.0/S_12.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 10rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_13.0/S_13.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_14.0/S_14.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/S_15.0/S_15.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 10rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
</div>