<div class="row product-details" *ngIf="productData">
    <div class="col-sm-6">
        <img class="product-img" src="{{productData.image}}" alt="">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productData.name}}{{productData.firstName}}{{productData.lastName}} </h1>
            <ngb-rating [rate]="productData.rating" style="color: rgb(203, 203, 23); font-size: 25px;"></ngb-rating>
            <h4>Price : {{productData.price}}</h4>
            <div>Color :
                <h3 [style.background]="productData.color" class="product-color"></h3>
            </div>
            <br>
            <!-- <button class="form-button">Buy Now</button> -->
            <br>
            <br>
            <hr>
            <h6>Brand            : {{productData.brand}}</h6>
            <h6>Model Name       : {{productData.modelName}}</h6>
            <h6>Screen Size      : {{productData.screenSize}}</h6>
            <h6>Color            : {{productData.shade}}</h6>
            <h6>Hard Disk Size   : {{productData.diskSize}}</h6>
            <h6>CPU Model        : {{productData.cpuModel}}</h6>
            <h6>RAM Memory       : {{productData.memory}}</h6>
            <h6>Operating System : {{productData.system}}</h6>
            <h6>Special Features : {{productData.features}}</h6>
            <h6>Graphics Card    : {{productData.graphics}}</h6>
            <hr>
        </div>
    </div>
</div>