<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 grid-view m-4">
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_1.0/P_1.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_2.0/P_2.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_3.0/P_3.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_4.0/P_4.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_5.0/P_5.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_6.0/P_6.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_7.0/P_7.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_8.0/P_8.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_9.0/P_9.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_10.0/P_10.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_11.0/P_11.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_12.0/P_12.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_13.0/P_13.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_14.0/P_14.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 28.8rem; cursor: pointer;">
        <div class="card align-items-center">
            <img src="./assets/images/P_15.0/P_15.0.jpg" class="card-img-top sets img-fluid" alt="laptop"
                loading="lazy" style="height: 18rem; width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
            <div class="text-center">
                <h5><b>$ 23.00</b></h5>
            </div>
            <div class="text-center" style="margin-bottom: 15px;">
                <button class="btn btn-warning" style="display: inline-block; margin-right: .5rem;">Add to Cart</button>
                <button class="btn btn-primary" style="display: inline-block;">Buy Now</button>
            </div>
        </div>
    </div>
</div>
