<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/images/ear-buds.jpg" class="d-block w-100 img-fluid" alt="ear-buds">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/fridge.jpg" class="d-block w-100 img-fluid" alt="fridge">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/iphone.jpg" class="d-block w-100 img-fluid" alt="iphone">
        </div>
        <div class="carousel-item">
            <img src="./assets/images/laptop.jpg" class="d-block w-100 img-fluid" alt="laptop">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 grid-view">
    <div class="col" style="cursor: pointer;">
        <div class="card" routerLink="laptop">
            <img src="./assets/images/laptop(1).png" class="card-img-top sets" alt="laptop" loading="lazy">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
            </div>
        </div>
    </div>
    <div class="col" style="cursor: pointer;">
        <div class="card" routerLink="mouse">
            <img src="./assets/images/mouse.png" class="card-img-top sets" alt="mouse" loading="lazy">
            <div class="card-body">
                <h5 class="card-title">Mouse</h5>
            </div>
        </div>
    </div>
    <div class="col" style="cursor: pointer;">
        <div class="card" routerLink="printer">
            <img src="./assets/images/printer.png" class="card-img-top sets" alt="printer" loading="lazy">
            <div class="card-body">
                <h5 class="card-title">Printer</h5>
            </div>
        </div>
    </div>
    <div class="col" style="cursor: pointer;">
        <div class="card" routerLink="monitor">
            <img src="./assets/images/monitor.png" class="card-img-top sets" alt="monitor" loading="lazy">
            <div class="card-body">
                <h5 class="card-title">Monitor</h5>
            </div>
        </div>
    </div>
    <div class="col" style="cursor: pointer;">
        <div class="card" routerLink="air-cond">
            <img src="./assets/images/ac.png" class="card-img-top sets" alt="air-conditioner" loading="lazy">
            <div class="card-body">
                <h5 class="card-title">AC (Air Conditioner)</h5>
            </div>
        </div>
    </div>
    <div class="col" style="cursor: pointer;">
        <div class="card" routerLink="refridgerator">
            <img src="./assets/images/double-door-fridge.png" class="card-img-top sets" alt="double-door-fridge"
                loading="lazy">
            <div class="card-body">
                <h5 class="card-title">Refridgerator</h5>
            </div>
        </div>
    </div>
    <div class="col" style="cursor: pointer;">
        <div class="card" routerLink="television">
            <img src="./assets/images/tv.png" class="card-img-top sets" alt="television" loading="lazy">
            <div class="card-body">
                <h5 class="card-title">TV (Television)</h5>
            </div>
        </div>
    </div>
    <div class="col" style="cursor: pointer;">
        <div class="card" routerLink="washing-machine">
            <img src="./assets/images/washing-machine.png" class="card-img-top sets" alt="washing-machine"
                loading="lazy">
            <div class="card-body">
                <h5 class="card-title">Washing Machine</h5>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-2 grid-view-1">
    <div class="col" style="padding-right: 12px; cursor: pointer;">
        <div class="card" routerLink="smartphones">
            <img src="./assets/images/smartphones.png" class="card-img-top sets" alt="smartphones" loading="lazy">
            <div class="card-body">
                <h6 class="card-title">Smartphones</h6>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col" style="padding-left: 12px; cursor: pointer;">
        <div class="card" routerLink="soft-toys">
            <img src="./assets/images/soft-toys.png" class="card-img-top sets" alt="soft-toys" loading="lazy">
            <div class="card-body">
                <h6 class="card-title">Soft Toys</h6>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-2 grid-view-1">
    <div class="col" style="padding-right: 12px; cursor: pointer;">
        <div class="card" routerLink="outdoor-sports">
            <img src="./assets/images/sports-toys.png" class="card-img-top sets" alt="sports-toys" loading="lazy">
            <div class="card-body">
                <h6 class="card-title">Outdoor & Sports Toys</h6>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col" style="padding-left: 12px; cursor: pointer;">
        <div class="card" routerLink="skin-care">
            <img src="./assets/images/skincare.png" class="card-img-top sets" alt="skincare" loading="lazy">
            <div class="card-body">
                <h6 class="card-title">Skincare</h6>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-2 grid-view-1">
    <div class="col" style="padding-right: 12px; cursor: pointer;">
        <div class="card" routerLink="makeup">
            <img src="./assets/images/makeup.png" class="card-img-top sets" alt="makeup" loading="lazy">
            <div class="card-body">
                <h6 class="card-title">Makeup</h6>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col" style="padding-left: 12px; cursor: pointer;">
        <div class="card" routerLink="w-footwear">
            <img src="./assets/images/footwear.png" class="card-img-top sets" alt="footwear" loading="lazy">
            <div class="card-body">
                <h6 class="card-title">Women's footwear</h6>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

<div class="card grid-view-2">
    <h4 class="text-center mt-3">Up to 70% off | Styles for men</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 grid-view">
        <div class="col" style="cursor: pointer;">
            <div class="card h-100" routerLink="watches">
                <img src="./assets/images/men-1.png" class="card-img-top sets" alt="watches" loading="lazy">
                <div class="card-body">
                    <h6 class="card-title">Watches</h6>
                </div>
            </div>
        </div>
        <div class="col" style="cursor: pointer;">
            <div class="card h-100" routerLink="clothing">
                <img src="./assets/images/men-2.png" class="card-img-top sets" alt="clothing" loading="lazy">
                <div class="card-body">
                    <h6 class="card-title">Clothing</h6>
                </div>
            </div>
        </div>
        <div class="col" style="cursor: pointer;">
            <div class="card h-100" routerLink="footwear">
                <img src="./assets/images/men-3.png" class="card-img-top sets" alt="footwear" loading="lazy">
                <div class="card-body">
                    <h6 class="card-title">Footwear</h6>
                </div>
            </div>
        </div>
        <div class="col" style="cursor: pointer;">
            <div class="card h-100" routerLink="bags-wallets">
                <img src="./assets/images/men-4.png" class="card-img-top sets" alt="bags-and-wallets" loading="lazy">
                <div class="card-body">
                    <h6 class="card-title">Bags & Wallets</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card grid-view-2">
    <h4 class="text-center mt-3">Up to 70% off | Styles for women</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 grid-view">
        <div class="col" style="cursor: pointer;">
            <div class="card h-100" routerLink="w-watches">
                <img src="./assets/images/women-1.png" class="card-img-top sets" alt="watches" loading="lazy">
                <div class="card-body">
                    <h6 class="card-title">Watches</h6>
                </div>
            </div>
        </div>
        <div class="col" style="cursor: pointer;">
            <div class="card h-100" routerLink="w-clothing">
                <img src="./assets/images/women-2.png" class="card-img-top sets" alt="womens-clothing" loading="lazy">
                <div class="card-body">
                    <h6 class="card-title">Women's Clothing</h6>
                </div>
            </div>
        </div>
        <div class="col" style="cursor: pointer;">
            <div class="card h-100" routerLink="footwear-handbag">
                <img src="./assets/images/women-3.png" class="card-img-top sets" alt="footwear-and-handbags" loading="lazy">
                <div class="card-body">
                    <h6 class="card-title">Footwear & Handbags</h6>
                </div>
            </div>
        </div>
        <div class="col" style="cursor: pointer;">
            <div class="card h-100" routerLink="fashion-jwellery">
                <img src="./assets/images/women-4.png" class="card-img-top sets" alt="fashion-jwellery" loading="lazy">
                <div class="card-body">
                    <h6 class="card-title">Fashion jewellery</h6>
                </div>
            </div>
        </div>
    </div>
</div>
